{% extends "boiler/base.html" %}
{% block style %}
    {% assets filters="scss", output="gen/index.css", "styles/index.scss"  %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
{% endblock %}
{% block content %}
	<br />
	<center><h2>Welcome to Aspire</h2></center>
	{% if 'result' in running_info %}
		
	<div class="index-page">
		<div class="index-assets">
			<h3>Newest Assets</h3>
			<div id="assets-table"></div>
		</div>

		<div class="index-broadcasts">
			<h3>Recent Transfers</h3>
			<div id="transactions-table"></div>
		</div>

		<div class="index-broadcasts">
			<h3>Recent Broadcasts</h3>
			<div id="broadcasts-table"></div>
		</div>

		<div class="index-blocks">
			<h3>Recent GASP Blocks</h3>
			<div id="blocks-table"></div>
		</div>
	</div>

	{% else %}
		<center><div style="color: red;">This explorer is currently syncing.. Please try again later</div></center>
		{{ running_info }}
	{% endif %}
{% endblock %}
{% block scripts %}
	<script>

		{% if 'result' in running_info %}
			new Tabulator("#assets-table", {
			    height:"300px",
			    layout:"fitColumns",
			    placeholder:"No data loaded..",
			    ajaxURL:"/api/assets",
	    		ajaxProgressiveLoad:"scroll",
			    columns:[
			        {title:"Asset", field:"asset", sorter:"string", formatter:assetFormatter, mutator: assetMutator, width:120},
			        {title:"Description", field:"description", sorter:"string"},
			    ],
			});
			new Tabulator("#transactions-table", {
			    height:"300px",
			    layout:"fitColumns",
			    placeholder:"No data loaded..",
			    ajaxURL:"/api/transfers",
	    		ajaxProgressiveLoad:"scroll",
			    columns:[
			    	{title: "", field: "time", width: 150, sorter: "number", 
			    		formatter: function(cell, formatterParams, onRendered) {
			    			return timeDifference(cell.getValue());
			    		}},
			        {title:"Asset", field:"asset", sorter:"string", formatter:assetFormatter, mutator: assetMutator, width:120},
			        {title:"Amount", field:"quantity", sorter:"number", width:120, mutator: quantityMutator},
			        {title:"From", field:"source", sorter:"string",
			        	formatter:function(cell, formatterParams, onRendered) {
						    return "<small><a href=\"/address/" + cell.getValue() + "\">" + cell.getValue() + "</a></small>";
						}},
			        {title:"To", field:"destination", sorter:"string",
			        	formatter:function(cell, formatterParams, onRendered) {
						    return "<small><a href=\"/address/" + cell.getValue() + "\">" + cell.getValue() + "</a></small>";
						}},
			        {title:"Memo", field:"memo", sorter:"string",
			        	formatter:function(cell, formatterParams, onRendered) {
			        		if (cell.getValue() !== undefined)
						    	return "<small>" + cell.getValue() + "</small>";
						    return '';
						}},
			        {title:"Tx", field:"tx_hash", sorter:"string",
			        	formatter:function(cell, formatterParams, onRendered) {
						    return "<small><a href=\"/tx/" + cell.getValue() + "\">" + cell.getValue() + "</a></small>";
						}}
			    ],
			});
			new Tabulator("#blocks-table", {
			    height:"450px",
			    layout:"fitColumns",
			    placeholder:"No data loaded..",
			    ajaxURL:"/api/blocks/{{ running_info['result']['gasp_block_count'] }}",
	    		ajaxProgressiveLoad:"scroll",
			    columns:[
			    	{title: "Time", field: "block_time", sorter: "number", width:150, mutator: timeDifference},
			        {title:"Height", field:"block_index", sorter:"number", width:100,
			        	formatter:function(cell, formatterParams, onRendered){
						    //cell - the cell component
						    //formatterParams - parameters set for the column
						    //onRendered - function to call when the formatter has been rendered
						    return "<a href=\"/block/" + cell.getValue() + "\">" + cell.getValue() + "</a>";
						}},
			        {title:"Hash", field:"block_hash", sorter:"string",
			        	formatter:function(cell, formatterParams, onRendered){
						    //cell - the cell component
						    //formatterParams - parameters set for the column
						    //onRendered - function to call when the formatter has been rendered
						    return "<small><a href=\"/block/" + cell.getValue() + "\">" + cell.getValue() + "</a></small>";
						}},
			    ],
			});
			new Tabulator("#broadcasts-table", {
			    height:"450px",
			    layout:"fitColumns",
			    placeholder:"No data loaded..",
			    ajaxURL:"/api/broadcasts",
	    		ajaxProgressiveLoad:"scroll",
			    columns:[
			    	{title: "Time", field: "timestamp", sorter: "number", width:150, mutator: timeDifference},
			        {title:"Address", field:"source", sorter:"string",
			        	formatter:function(cell, formatterParams, onRendered) {
						    return "<small><a href=\"/address/" + cell.getValue() + "\">" + cell.getValue() + "</a></small>";
						}},
			        {title:"Message", field:"text", sorter:"string"},
			    ],
			});
		{% endif %}
	</script>
{% endblock %}