{% extends "boiler/base.html" %}
{% block style %}
    {% assets filters="scss", output="gen/address.css", "styles/address.scss"  %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
{% endblock %}
{% block content %}
<center>
	<h4>{{ addy }}</h4>
	<small>An Aspire address</small>
		<div style="display: flex; flex-direction: row;  justify-content: center; align-items: center;">
			<a href="/address/{{addy}}" style="cursor: pointer; font-size: 0.6rem; border: 1px solid lightgray; margin-top: 0.25rem; border-radius: 3px; padding: 0.1rem 0.25rem;">More Info</a>
		</div>
</center>
<div class="address-page">

	<div id="gasptransactions">
		<div style="display: flex; width: 100%; flex-direction: row; align-items: center;">
			<h5 style="margin: 0; margin-right: 1rem;">gAsp Transactions</h5>
			{# <div style="cursor: pointer; font-size: 0.6rem; border: 1px solid lightgray; margin-top: 0.25rem; border-radius: 3px; padding: 0.1rem 0.25rem;">More Info</div> #}
		</div>
		<div id="gasptxs-table" class="transactions-table" style="margin-top: 1rem;">
		</div>
		{% set show_prevpage = page > 1 %}
		{% set show_nextpage = gasptxs['data'] | length >= limit-1 %}
		{% if show_prevpage or show_nextpage %}
		<div class="transactions-row">
			<div id="gasptxs-pagination" class="transaction-header" style="width: 100%;">
				{% if show_prevpage > 1 %}<a href="#">Previous Page</a>{% else %}<div></div>{% endif %}
				{% if show_nextpage %}<a href="#">Next Page</a>{% endif %}
			</div>
		</div>
		{% else %}
		<div class="transactions-row">
			<div id="gasptxs-pagination" class="transaction-header" style="width: 100%; opacity: 0.5; justify-content: center;">
				You've reached the end of gAsp transaction history for {{ addy }}
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script>
		var setupdata = [
		{% for tx in gasptxs['data'] %}
			{{ tx | safe}},
		{% endfor %}
		];

		function init() {
			setupdata.forEach(function(item) {
				build_transaction_block(item, function(div) {
					$("#gasptxs-table").append(div);
				}, '{{ addy }}');
		    });
		}
		init();
		// $.ajax({url: "/api/address/{{ addy }}/transactions?page=1&size=50", success: function(result) {
		// 	if(result['data'] !== undefined) {
		// 		result['data'].forEach(function(item) {
		// 			build_transaction_block(item, function(div) {
		// 				$("#gasptxs-table").append(div);
		// 			}, '{{ addy }}');
		// 	    });
		// 	} else {
		// 		console.error(result)
		// 	}
		// }});

	</script>
{% endblock %}