app.log.*
scout/site/static/gen/
scout/site/static/.webassets-cache/
.vagrant/*
node_modules/
logs/
celerybeat-schedule
.DS_Store
.Python
*.pyc
*.pid
3virt
virt
bin
include
/lib
instance/
other
app/static/gen/*
app/static/.webassets*
local/
/mine
pip-selfcheck.json
*/.cache/*
.cache
*.log

